@model Core_project_BusinessLogic.Entity.ContextDetail
 

@using Core_project_BusinessLogic.Entity
@{
    Layout = null;

    var fields = ViewBag.Fields as List<ContextFieldDefinition>
    ?? new List<ContextFieldDefinition>();

    var reference = ViewBag.Reference;
    var encId = ViewBag.EncId;
    var temp_cont_id= ViewBag.temp_cont_id;
    var mode = ViewBag.Mode as string ?? "block";      
     
}
<link rel="stylesheet" href="/Assets/ckeditor5/ckeditor5.css" />
<link rel="stylesheet" href="~/Assets/css/dynamic_data_add_temp.css" />
@if (mode == "Main")
{
    <h2>Main Component: @(reference?.Context_Title ?? "Reference")</h2>
}
else
{
    <h2>Block Component: @(reference?.Context_Title ?? "Reference")</h2>
}



<form id="addContextDetailsFormTemp"  method="post" asp-action="Submit_temp" asp-controller="DynamicData"  >

    <input type="hidden" name="referenceId" value="@reference.ID" />
    <input type="hidden" name="masterId" value="@reference.Context_Master_ID" />
    <input type="hidden" name="temp_cont_id" value="@temp_cont_id" />
    <input type="hidden" name="mode" value="@ViewBag.Mode" />
   <input type="hidden" name="is_block" value="@(mode == "Main" ? 0 : 1)" />
    @foreach (var f in fields)
    {
        <div class="mb-3">
            <label class="form-label">@f.name</label>

            @* TEXTBOX *@
            @if (f.field_type_id == 1)
            {
                @* <input name="@f.name_key" class="form-control" placeholder="@f.place_holder" /> *@

                <input name="@f.name_key"
       class="form-control dynamic-field"
       placeholder="@f.place_holder"
       data-required="@(f.is_required == 1 ? "true" : "false")"
       data-validation="@f.field_validation"
        data-message="@f.custom_validation"   
       data-name="@f.name" />
            }

            @* DROPDOWN *@
            else if (f.field_type_id == 2)
            {
                List<string> opts = new();

                if (!string.IsNullOrWhiteSpace(f.field_options))
                {
                    try
                    {
                        opts = System.Text.Json.JsonSerializer
                        .Deserialize<List<string>>(f.field_options);
                    }
                    catch { }
                }

            
                    <select name="@f.name_key"
        class="form-control dynamic-field"
        data-required="@(f.is_required == 1 ? "true" : "false")"
        data-name="@f.name">
                    <option value="">-- Select --</option>
                    @foreach (var o in opts)
                    {
                        <option value="@o">@o</option>
                    }
                </select>
            }

            @* HTML EDITOR *@
            else if (f.field_type_id == 7)
            {
               


          <textarea name="@f.name_key" 
        class="form-control editor-full dynamic-field"
          data-required="@(f.is_required == 1 ? "true" : "false")"
          data-validation="@f.field_validation"
          data-message="@f.custom_validation"
          data-name="@f.name"></textarea>

            }

            @* IMAGE FIELD *@
            else if (f.field_type_id == 8)
            {



                <div class="form-group mb-3">

                    <button type="button" id="btnFile"
                            class="btn btn-outline-primary d-block select-media"
                            data-field="@f.name_key">
                        Select File
                    </button>

                    <input type="hidden" name="@($"{f.name_key}_existing")" />
                    <img src="@f.image_previewname" style="max-height:120px"  />
                   <img src="@f.image_previewname" style="max-height:120px" class="imgPreview" />

                </div>


            }

            <small class="text-muted">@f.help_text</small>

        </div>
    }
    @Html.Hidden("returnUrl", ViewBag.ReturnUrl as string)
    <button class="btn btn-primary">Save</button>
</form>

<script src="~/Assets/scripts/dynamic_data_add_temp.js"></script>

  