@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.AboutModel
@{
    ViewData["Title"] = "Leadership";
       Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <title>@Model.Content.cont_window_title</title>

    <meta content="@Model.Content.cont_metatag" name="keywords" />
    <meta content="@Model.Content.cont_metadesc" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="@Model.Content.ContTitle" />
    <meta name="twitter:description" content="@Model.Content.cont_metadesc" />


    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Nekta" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:url" content="https://www.nekta.com/" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />

    <meta itemprop="name" content="Nekta" />
    <meta itemprop="description" content="@Model.Content.cont_metadesc" />
    <meta itemprop="image" content="@Model.Content.cont_meta_image" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Nekta" />
    <meta property="og:title" content="@Model.Content.ContTitle" />
    <meta property="og:description" content="@Model.Content.cont_metadesc" />
    <meta property="og:image" content="@Model.Content.cont_meta_image" />
    <meta property="og:url" content="https://www.nekta.com/" />

    <link rel="canonical" href="@Model.Content.CanonicalUrl" />
}

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/center-mode-slider.css">
    <link rel="stylesheet" href="~/Assets/css/three-box-slider.css">
    <link rel="stylesheet" href="~/Assets/css/three-tilt-card.css">
    <link rel="stylesheet" href="~/Assets/css/about-us.css" />
}


   <!-- HERO BANNER END-->
      <section class="relative inside-banner-outer overflow-hidden">
         <div class="inside-banner-inner banner-animation relative ">

            <!-- Banner -->
            <div class="rounded-bottom-lr overflow-hidden h-170 rounded-bl-xl rounded-br-xl relative innerbanner-image-wrapper">

               <!-- Parallax Image -->
               <picture>
                  <!-- Desktop -->
                  <source media="(min-width:1024px)"
                     srcset="@Model.Content.MastheadImage">

                  <!-- Tablet -->
                  <source media="(min-width:768px)"
                     srcset="@Model.Content.MobileMastheadImage">

                  <!-- Mobile -->
                  <img
                     src="@Model.Content.MobileMastheadImage"
                     alt="@Model.Content.Masthead_image_Alt_text"
                     class="innerbanner-image absolute left-0 top-0 w-full h-full object-cover"
                     loading="eager"
                     fetchpriority="high">
               </picture>

               <!-- Keep Existing Overlay -->
               <div class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/40 to-black/70 z-10"></div>


            </div>

            <!-- Content -->
           
               <div class="innerbanner-caption absolute inset-0 z-30 flex items-end">
                  <div class="container pb-12 md:pb-15">
                     <div class="max-w-4xl text-left">

                        <nav class="mb-4" aria-label="Breadcrumb">
                           @Html.Raw(Model.Content.BreadcrumPath)
                        </nav>

                        <h1 class="innerbanner-title text-h1 text-white">
                          @Html.Raw(
                            !string.IsNullOrWhiteSpace(Model.Content.Cont_hmpg_intro)
                            ? Model.Content.Cont_hmpg_intro.CleanParagraphTags()
                            : Model.Content.ContTitle)
                        </h1>

                     </div>
                  </div>
               </div>
           

         </div>
      </section>
   
         <!-- INTRO SECTION -->
         @if (!string.IsNullOrWhiteSpace(Model?.Content?.Cont_intro))
         {
            <section class="section-spacing">
                <div class="container">
                <div class="max-w-5xl mx-auto text-center intro-section-wrap">
                    @Html.Raw(Model.Content.Cont_intro.CleanParagraphTags())
                </div>
                </div>
            </section>
         }
         <!-- INTRO SECTION END -->

          <!-- THREE TILT CARD -->
          @foreach (var item in Model.Component_With_Cards_List.Where(x => x.IsBlock == 1))
           {
                <section class="story-gallery">
                    <div class="container">
                    <div class="relative">
                        <div class="story-gallery-left">
                            <img src="@item.Component_Icon_Image" class="max-w-auto">
                        </div>
                        <div class="story-gallery-right">
                            <img src="@item.Component_Icon2_Image" class="max-w-auto z-10 story-turmuric">
                            <img src="@item.Component_Icon3_Image" alt="" class="max-w-auto z-10 story-leaf">
                        </div>
                        <!-- Cards -->
                        <div class="cards-wrapper relative flex justify-center items-center">
                            <!-- Left -->
                            <div class="gallery-card gallery-left">
                                <img src="@item.Component_LHS_thumbnail" alt="@item.Component_LHS_thumbnail_image_alt">
                            </div>
                            <!-- Center -->
                            <div class="gallery-card gallery-center">
                                <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText">
                            </div>
                            <!-- Right -->
                            <div class="gallery-card gallery-right">
                                <img src="@item.Component_right_image" alt="@item.Component_Right_image_alt">
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            }
         <!-- THREE CARDS END -->
        
         <!-- COOUNTER SECTION -->
         <section class="counter-section section-pb">
            <div class="container">
               <div class="counter-wrapper sm:max-w-4xl sm:mx-auto">
                  <!-- Counter -->

                @foreach (var item in Model.infographics_List
                            .Where(x => x.IsBlock == 0)
                            .OrderBy(x => x.Sequence))
                    {
                        string suffix = "";

                        if (item.Sequence == 1)
                        {
                            suffix = "K";
                        }
                        else if (item.Sequence == 3)
                        {
                            suffix = "+";
                        }

                        <div class="flex flex-col shrink-0 rounded-2xl px-4 py-6 items-start gap-0 box-itm counter-item">
                            <img src="/Assets/images/careers/laboratory-icon.svg" alt="@item.Title" class="w-auto object-cover" />

                            <div class="counter-wrap flex items-center gap-2">
                                <div class="counter" data-target="@Html.Raw(item.Intro.CleanParagraphTags())"
                                    @if (!string.IsNullOrEmpty(suffix))
                                    {
                                        <text>data-suffix="@suffix"</text>
                                    }>
                                    @Html.Raw(item.Intro.CleanParagraphTags())
                                </div>
                            </div>

                            <p>@item.Title</p>
                        </div>

                        @if (item.Sequence != Model.Component_With_Cards_List.Where(x => x.IsBlock == 0).Max(x => x.Sequence))
                        {
                            <div class="counter-divider"></div>
                        }
                    }
                 
               </div>
            </div>
         </section>
         <!-- COUNTER SECTION ENd -->


         <!-- ENQUIRY NOW CTA -->
         @foreach (var item in Model.Access_to_Safe_List.Where(x => x.IsBlock == 1))
           {
                <section class="cta-section section-spacing">
                    <div class="container">
                    <div class="max-w-5xl mx-auto text-center">
                        <h2>
                            @Html.Raw(
                                    !string.IsNullOrWhiteSpace(item.DisplayTitle)
                                    ? item.DisplayTitle.CleanParagraphTags()
                                    : item.Title)
                        </h2>

                        @if (!string.IsNullOrWhiteSpace(item.Url))
                        {
                            <a href="@item.Url" class="common-btn mt-8 md:mt-12 btn-slide-fill" type="button" data-modal-open="contactModal">
                            <span>@(!string.IsNullOrWhiteSpace(item.Url_Text) ? item.Url_Text : "Enquire Now")</span>
                            <img loading="lazy" src="/Assets/images/arrows/creamarrow-long-right.png" alt="rightArrow" />
                            </a>
                        }
                    </div>
                    </div>
                </section>
         }
         <!-- ENQUIRY NOW CTA END-->


          <!-- ==================== 
         6: Who we are
         ==================== -->
         <section class="bg-green center-slider relative section-spacing overflow-hidden">
            <div class="inner-center-slider">
        @foreach (var item in Model.Who_Are_We_List.Where(x => x.IsBlock == 1))
           {
               <div class="text-center mb-6 px-6 mx-auto max-w-5xl section-title--light-outer">
                  <h2 class="section-title section-title--light" data-leaf-target letters-slide-down text-split>
                     @Html.Raw(
                                    !string.IsNullOrWhiteSpace(item.DisplayTitle)
                                    ? item.DisplayTitle.CleanParagraphTags()
                                    : item.Title)
                  </h2>
               </div>
               }

               <!-- Swiper Slider -->
               <div class="swiper edgeSwiper px-4 py-6">
                  <div class="swiper-wrapper py-4 pb-2">
                     <!-- Slide 1 -->
                      @foreach (var item in Model.Who_Are_We_List.Where(x => x.IsBlock == 0))
                       {
                        <div class="swiper-slide">
                            <div class="edge-card group backdrop-blur-sm opacity-50 transition-all duration-700">
                            <img loading="lazy"
                                src="@item.ThumbnailImage" alt="@item.ThumbnailAltText"
                                class="edge-card-image border-8 w-full aspect-video object-cover transition-all duration-700"
                                />
                            <div class="edge-arrow-bar absolute w-full -translate-y-1/4 flex justify-between items-center gap-8 mt-0 edgeArrow hidden">
                                <div
                                    class="edge-swiper-prev edge-prev cursor-pointer w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 relative rounded-full bg-cream border border-green flex items-center justify-center text-white transition-all"
                                    >
                                    <img loading="lazy" src="/Assets/images/arrows/GreenLeft.png" alt="GreenLeft" />
                                </div>
                                <div class="edge-swiper-next edge-next cursor-pointer w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 relative rounded-full bg-cream border border-green flex items-center justify-center text-white transition-all">
                                    <img loading="lazy" src="/Assets/images/arrows/GreenRight.png" alt="GreenRight"/>
                                </div>
                            </div>
                            <div class="edge-details p-0 pt-1 flex flex-col md:flex-row items-start justify-between opacity-0 invisible transition-all duration-500"
                                >
                                <div>
                                    <h3 class="edge-card-title">
                                       @item.Title
                                    </h3>
                                    <p class="edge-card-text">
                                        @Html.Raw(item.Intro.CleanParagraphTags())
                                    </p>
                                </div>
                                <div>
    
                                </div>
                            </div>
                            </div>
                        </div>
                     }
                  </div>

                  <div class="edge-nav-arrows">
                     <div class="edge-swiper-prev cursor-pointer w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 rounded-full bg-cream border border-green flex items-center justify-center transition-all">
                        <img loading="lazy" src="/Assets/images/arrows/GreenLeft.png" alt="GreenLeft" />
                     </div>
                     <div class="edge-swiper-next cursor-pointer w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 rounded-full bg-cream border border-green flex items-center justify-center transition-all">
                        <img loading="lazy" src="/Assets/images/arrows/GreenRight.png" alt="GreenRight" />
                     </div>
                   </div>

               </div>
            </div>
         </section>
       
         <!-- ==================== FOOTPRINT SECTION ==================== -->
        @foreach (var item in Model.Our_Footprint_List.Where(x => x.IsBlock == 1))
         {
         <section class="footprint-section section-spacing overflow-hidden">
            <div class="container">
               <!-- Heading -->
               <!-- Section Heading -->
               <div class="section-title-outer text-center mx-auto max-w-5xl">
                  <h2 class="title-section text-h2 " data-leaf-target letters-slide-down text-split>
                       @Html.Raw(
                             !string.IsNullOrWhiteSpace(item.DisplayTitle)
                             ? item.DisplayTitle.CleanParagraphTags()
                             : item.Title)
                  </h2>
                 
               </div>
               <div class="grid lg:grid-cols-2 gap-12 lg:gap-20 items-center">
                  <!-- Left Content -->
                  <div class="relative ">
                     <!-- Decorative -->
                     <div class="footprint-decor-img">
                        <img src="@item.ComponentThumbnail" alt="@item.ComponentThumbnailAltText" class="footprint-decor absolute -left-16 -top-[50%]  pointer-events-none select-none">
                     </div>
                     <div class="left-copy">
                        @Html.Raw(item.Intro)
                     </div>
                  </div>
                  <!-- Right Image -->
                  <div class="relative map-outer-warapper">

                     <div class="map-inside-wrapper relative">
                        
                        <svg width="888" height="616" viewBox="0 0 888 616" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <line y1="66.6378" x2="887.046" y2="66.6378" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="101.161" x2="887.046" y2="101.161" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="135.685" x2="887.046" y2="135.685" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="170.208" x2="887.046" y2="170.208" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="204.732" x2="887.046" y2="204.732" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="239.255" x2="887.046" y2="239.255" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="273.776" x2="887.046" y2="273.776" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="308.3" x2="887.046" y2="308.3" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="342.823" x2="887.046" y2="342.823" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="377.347" x2="887.046" y2="377.347" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="411.87" x2="887.046" y2="411.87" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="446.392" x2="887.046" y2="446.392" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="480.915" x2="887.046" y2="480.915" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="515.439" x2="887.046" y2="515.439" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="549.962" x2="887.046" y2="549.962" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000567721 1 -1 0.000153902 513.117 46.4863)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000485211 1 -1 0.000180073 478.254 46.4941)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000480357 1 -1 0.000181892 443.393 46.498)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000493323 1 -1 0.000177112 408.529 46.5039)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000493956 1 -1 0.000176884 373.668 46.5098)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 338.805 46.5156)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 303.941 46.5215)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 269.08 46.5273)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 234.217 46.5352)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 199.355 46.5391)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000567721 1 -1 0.000153902 861.741 46.4863)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000485211 1 -1 0.000180073 826.879 46.4941)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000480357 1 -1 0.000181892 792.017 46.498)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000493323 1 -1 0.000177112 757.154 46.5039)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000493956 1 -1 0.000176884 722.292 46.5098)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 687.429 46.5156)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 652.566 46.5215)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 617.704 46.5273)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 582.842 46.5352)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 547.979 46.5391)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 164.492 46.5469)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000495279 1 -1 0.000176412 129.629 46.5508)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000496934 1 -1 0.000175824 94.7676 46.5586)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000496934 1 -1 0.000175824 59.9043 46.5625)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <line y1="-0.420819" x2="526.238" y2="-0.420819" transform="matrix(0.000498268 1 -1 0.000175354 25.043 46.5684)" stroke="#CEE9E6" stroke-width="0.841638"/>
                           <g filter="url(#filter0_d_1168_1912)">
                           <path d="M344.287 41.9441V38.3672L350.937 41.0499H356.161L357.586 44.6268L364.71 45.9681H367.56L369.46 51.3335V56.2517L370.885 58.9344L372.785 58.0401L377.059 61.6171V64.2997H378.959L380.859 66.9824L385.609 69.6651L383.709 75.0304H387.509L390.833 76.8189L395.583 81.7371V83.5256L391.308 81.7371L388.458 78.1602L386.084 79.0545H383.234L382.759 80.8429L379.909 81.7371L378.009 83.5256L374.21 86.6554L372.31 85.314V94.2563H368.985L366.61 96.939H362.811L360.911 99.1745L359.011 96.939H350.937L348.562 95.5976V90.2323H343.337V88.4438L340.488 83.9727L336.688 80.8429L333.838 77.7131L337.163 75.0304V70.5593L333.838 69.6651V65.194L337.163 63.4055L338.588 60.7228H332.413L331.938 57.1459L333.838 56.2517V53.1219H329.563V48.2037H333.838L334.788 45.521H336.688L338.588 41.9441H344.287Z" fill="url(#paint0_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M407.934 86.035L408.87 84.6743L412.149 86.035L414.491 89.6636V91.9315H416.833H421.049L425.264 98.2815V101.003L426.201 104.178L429.012 106.446L430.417 108.714L429.012 112.342L431.354 115.517L429.012 120.507L431.822 121.867L433.227 123.228H431.354L430.417 125.042H427.138L421.986 123.228L420.112 124.589H416.833L413.554 126.857L411.212 130.032L409.807 133.66L410.276 136.382L411.212 139.103L410.276 140.464L408.87 141.371L407.934 143.185L403.718 142.278H401.844L399.034 139.103L398.097 135.475L392.476 132.3L389.197 130.032V126.403L386.387 122.321H378.424V116.424L375.614 112.342L375.145 110.074L371.866 106.446H369.524V101.003H371.866L373.74 97.3743L372.803 94.6529V85.1278L375.145 86.9421L380.766 81.9528L383.108 81.0457L384.045 79.2314H386.387L388.729 78.3242L391.539 81.9528L395.755 83.7671L399.034 86.035H407.934Z" fill="url(#paint1_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path class="map-state" data-location="Amritsar" d="M366.608 97.2522L368.505 94.5391H372.299L373.247 97.7044L371.35 100.87H368.979V106.748H371.35L375.144 110.366V112.627L377.99 116.244V122.123H386.052L388.897 126.192L389.371 130.262L392.217 132.071L389.846 133.427L390.794 137.497L392.691 141.567V143.375H389.846L387 147.897L383.681 149.706L381.309 148.802L378.938 151.515V154.228L377.041 156.037L374.67 156.941H364.237L361.391 158.298L359.969 160.558L358.546 157.845L357.123 154.228L354.752 153.776L351.907 152.871H347.164L345.267 153.776L342.422 152.871H336.257L332.463 149.706V142.471L337.205 136.593L346.216 128.453V119.862L343.845 113.983L349.535 107.2L354.278 104.487L359.494 102.226L360.917 99.9653L362.814 97.2522H366.608Z" fill="url(#paint2_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M411.172 144.501L408.327 142.711V140.789L410.224 140.026L411.172 138.684L409.75 135.999V133.314L411.172 129.734L414.018 126.601L417.337 124.364H421.131L422.079 123.021L427.77 124.364H430.615L432.037 123.021H433.46L437.728 119.441L438.676 120.784L439.625 124.364L444.367 128.391L447.212 130.629L454.325 131.076L456.222 131.524L457.644 134.656L459.541 135.999L461.438 139.579L469.025 141.369L470.922 142.711L473.767 145.844V147.186L471.871 149.871L469.025 150.766L468.077 153.451L465.232 155.241L463.335 157.926V160.164V162.401L461.438 165.086V169.114L460.49 171.351L457.644 173.589V177.169L456.222 178.511L453.851 177.169H450.057L446.738 174.931L445.315 176.274L442.944 174.931L439.625 171.351H436.779L433.46 169.114L432.037 166.876L433.46 164.191L430.615 162.401L426.821 159.269L424.924 157.031L423.502 153.451L419.234 152.109V157.031L417.337 159.269H413.069L411.172 157.031L412.121 152.109V150.766L413.069 148.081V145.844L411.172 144.501Z" fill="url(#paint3_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path class="map-state" data-location="Delhi" d="M390.202 133.082L392.573 132.182L397.79 135.332L399.686 138.932L402.057 142.082L404.428 141.632L407.748 142.982V145.232L405.377 147.032L404.428 148.832L401.583 151.532L400.161 152.882L399.686 156.032L397.79 157.832L396.841 160.533V163.683L398.738 165.483V172.233L397.79 174.933L400.161 177.183L402.057 178.983V184.383L404.428 186.633L406.325 191.584V194.284L405.377 197.884L403.954 199.234L402.057 198.784L399.686 200.134L395.893 202.834L393.048 200.134V194.284L391.625 191.134L390.202 191.584L389.254 194.284L387.357 195.634L383.089 191.134V194.284L379.296 195.634L377.873 200.134L375.028 197.884V191.134L371.708 187.083L369.337 183.483L366.492 179.883V176.283L364.595 174.033L363.647 170.433V167.733H357.482L352.74 165.483L350.843 163.683V165.933H347.524L346.101 163.683V160.533L344.679 156.032L342.308 152.882L346.101 153.782L347.524 152.882H352.266L355.111 153.782L357.482 154.232L358.905 158.283L360.327 160.533L361.75 158.283L364.595 156.932H375.028L377.873 156.032L379.296 154.232V151.532L381.667 148.832L384.038 149.732L387.357 147.932L390.202 143.432H393.048V141.632L391.151 137.582L390.202 133.082Z" fill="url(#paint4_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M357.54 168.594H364.171V170.846V174.898L366.54 177.149V180.751L369.382 183.452L370.803 186.604L375.066 191.106V198.76L378.382 200.561L379.803 196.059L383.118 195.158V191.106L387.382 196.059L389.276 195.158L390.224 192.007H391.645L392.592 195.158V200.561L395.434 203.262L399.224 201.461L402.539 204.163V207.314L405.381 210.916V214.068L407.276 215.869L403.96 218.57L402.539 221.722L403.96 222.622L412.96 218.57H414.381L418.171 219.921V222.622L414.381 225.774H412.96L411.066 228.475H409.171L405.381 230.276H401.118L399.224 233.878H397.329L395.434 236.129L390.224 238.381L388.329 241.082L385.961 242.433L385.013 246.035L385.961 248.736L387.382 250.537L391.171 252.338L399.224 251.888L401.118 250.537H403.96V257.741H395.434L392.592 258.191V260.442L391.645 263.143L392.592 266.295H397.329L395.908 268.546L394.013 271.698H392.592V278.451L388.329 277.551L385.961 275.75H377.434V277.551V280.252L374.592 281.603V283.854H366.066V281.603L370.803 280.252V270.797H374.592L370.803 266.295L367.487 264.944H362.277L358.961 263.143L359.908 261.343L358.013 259.542L355.171 262.243L352.803 263.143L351.382 269.447V276.65L354.224 279.352V288.807L352.803 291.058L348.066 292.409L346.171 294.21V295.56L348.066 296.911H349.961V299.162L346.171 301.864H340.487V300.063H339.066L336.698 296.911L333.856 295.56L330.54 292.409L324.382 288.807L322.487 285.205V281.603H319.645L316.803 279.352L318.224 276.65V273.949L316.803 271.698H304.014L300.698 269.447L298.803 266.295L295.014 267.646H283.172L279.382 266.295L274.646 267.646V264.944L272.751 261.343V258.641L267.067 253.238V246.035H265.646L259.962 245.134L255.698 241.082V227.125L253.33 225.774H249.067L245.277 223.523L243.856 221.272V214.968L246.699 213.167L249.067 208.665L253.33 205.514L254.277 203.713L255.698 198.76L259.962 196.959L262.33 193.807L265.646 195.608L268.962 198.76L269.909 201.912H274.646L277.961 198.76H290.751L292.172 193.807L295.014 190.206H296.435L300.698 180.751L304.014 178.95L308.277 175.798L311.119 174.898L313.487 172.196L315.382 166.793L317.751 163.642L319.172 159.139V156.438L324.856 151.936L329.119 150.135H332.908L336.698 153.737H342.382L344.75 157.339L346.171 161.391V163.642L348.066 166.793H350.908V163.642L353.277 166.793L357.54 168.594Z" fill="url(#paint5_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M274.28 270.606V267.443L279.936 266.539L282.765 267.443H295.492L298.32 266.539L300.206 268.799L303.034 271.51H316.232L317.646 274.222V276.933L316.704 279.193L319.532 281.905H321.889V285.068L324.246 289.587L330.374 292.299L333.673 295.462L336.501 297.27L338.858 300.434H340.272V302.693L344.043 306.761L342.629 309.472H340.272L337.444 311.28V313.54V324.838H334.145L329.431 328.001V330.713L332.73 332.069H337.444L334.145 333.876L332.73 337.04L329.431 339.751H326.131L324.246 341.107L330.845 343.367V349.694L329.431 351.953H326.131L322.832 351.05L321.889 354.665V360.992H316.704L313.404 358.732L310.104 359.636V363.252H306.805L308.69 357.829L310.104 351.953L312.461 349.694L310.104 345.626V343.367L306.805 341.107V333.876L310.07 332.05L305.862 329.809L306.805 324.838H303.034V321.222L304.919 319.415H300.206V324.838H297.377V328.001L300.206 330.713V333.876L297.377 339.751L291.249 343.367L286.536 344.271L279.936 347.886L274.28 349.694H269.566L266.738 347.886L262.496 344.271L259.196 343.367L256.839 339.751L251.654 337.04L246.94 332.069L244.112 330.713L242.698 326.646H239.87L237.513 322.578L234.213 319.415V315.347L237.513 313.088L239.87 315.347H242.698L245.526 313.088L248.354 313.54L253.539 313.088L259.196 309.472L260.61 304.501L263.438 302.693L265.324 300.434L260.61 301.338L259.196 302.693H255.425L249.297 304.501L246.94 306.761H244.112L239.87 304.501H237.513L232.799 302.693L230.442 299.53L226.2 296.366L223.371 293.203L222.429 289.587V286.424L226.2 285.068L227.614 280.549V277.837L229.028 274.222L244.112 274.674L246.94 277.837H249.297H253.539L255.425 276.03L259.196 274.674H262.496L263.438 272.866H264.381V276.03H269.566L271.923 274.222L274.28 270.606Z" fill="url(#paint6_linear_1168_1912)" fill-opacity="0.6"/>
                           <path d="M274.28 267.443V270.606L271.923 274.222L269.566 276.03H264.381V272.866H263.438L262.496 274.674H259.196L255.425 276.03L253.539 277.837H249.297H246.94L244.112 274.674L229.028 274.222L227.614 277.837V280.549L226.2 285.068L222.429 286.424V289.587L223.371 293.203L226.2 296.366L230.442 299.53L232.799 302.693L237.513 304.501H239.87L244.112 306.761H246.94L249.297 304.501L255.425 302.693H259.196L260.61 301.338L265.324 300.434L263.438 302.693L260.61 304.501L259.196 309.472L253.539 313.088L248.354 313.54L245.526 313.088L242.698 315.347H239.87L237.513 313.088L234.213 315.347V319.415L237.513 322.578L239.87 326.646H242.698L244.112 330.713L246.94 332.069L251.654 337.04L256.839 339.751L259.196 343.367L262.496 344.271L266.738 347.886L269.566 349.694H274.28L279.936 347.886L286.536 344.271L291.249 343.367L297.377 339.751L300.206 333.876V330.713L297.377 328.001V324.838H300.206V319.415H304.919L303.034 321.222V324.838H306.805L305.862 329.809L310.104 332.069L312.461 330.713L306.805 333.876V341.107L310.104 343.367V345.626L312.461 349.694L310.104 351.953L308.69 357.829L306.805 363.252H310.104V359.636L313.404 358.732L316.704 360.992H321.889V354.665L322.832 351.05L326.131 351.953H329.431L330.845 349.694V343.367L324.246 341.107L326.131 339.751H329.431L332.73 337.04L334.145 333.876L337.444 332.069H332.73L329.431 330.713V328.001L334.145 324.838H337.444V313.54V311.28L340.272 309.472H342.629L344.043 306.761L340.272 302.693V300.434H338.858L336.501 297.27L333.673 295.462L330.374 292.299L324.246 289.587L321.889 285.068V281.905H319.532L316.704 279.193L317.646 276.933V274.222L316.232 271.51H303.034L300.206 268.799L298.32 266.539L295.492 267.443H282.765L279.936 266.539L274.28 267.443Z" stroke="#646C81" stroke-width="1.44564"/>
                           <path class="map-state" data-location="Noida" d="M412.781 146.346L407.558 143.186L407.084 145.443L404.71 147.249L403.76 149.054L399.487 153.118L399.012 156.278L397.113 158.083L396.163 160.792V163.952L398.062 165.758V172.53L397.113 175.239L401.386 179.302V184.719L403.76 186.976L405.659 191.942V194.651L404.71 198.263L403.285 199.617L401.386 199.166L398.062 200.971L401.861 204.132L402.336 207.292L404.71 210.903V214.064L406.609 215.869L403.285 218.578L401.861 221.738L403.76 222.641L411.832 218.578H413.731L417.054 219.933H418.479L425.126 222.641L427.5 222.19L432.248 223.544L436.047 227.607V233.025L434.147 233.928V237.539L431.299 242.054L429.399 246.117H427.025L425.601 249.277H421.803L419.903 250.631V253.791L421.803 255.146L422.277 258.757L420.378 260.563H418.954V263.272L419.903 265.078V271.398L422.752 272.301L424.651 274.107L427.5 276.364L429.874 276.816L431.773 275.461H434.147V271.85L432.248 268.238H430.824L429.399 264.626L428.925 262.369L426.551 258.757V253.791L429.399 252.437L432.248 251.083H434.147V255.597L436.047 256.5L441.27 256.049L444.593 258.757H450.291L452.19 256.049L454.564 255.146L455.514 253.791H461.686V258.757H464.06L467.384 257.403H472.607L471.657 260.563L472.607 262.369H476.405L477.355 261.466L480.678 257.403L486.376 257.855L488.75 258.757L491.124 261.015L494.448 262.369L497.771 263.272L502.044 266.884H508.692L511.066 268.689L511.541 284.49H519.612L521.511 281.33L523.411 278.621L524.36 275.461L525.785 273.655L524.36 271.398V270.495H526.734L527.209 266.884L525.31 264.626L522.936 263.272L522.461 260.563V257.855L524.835 254.694L526.259 253.34L529.583 252.437L531.008 251.083L533.856 249.728L536.23 247.923L538.13 246.117L540.029 245.665L542.878 246.568L547.151 245.665L549.05 243.859L546.201 241.602L543.352 240.699L540.029 238.442L538.13 236.636V235.282L537.18 233.476H539.554V231.67L537.18 229.413L535.281 228.059L538.13 225.35H542.878V221.287L537.18 216.772L533.382 210.452V209.098H529.583L527.684 207.743L523.411 207.292V208.646L521.986 210.452L520.562 207.743L511.541 207.292L511.066 204.132L510.116 202.326H502.044L499.67 198.263H494.448L488.275 196.457L484.951 194.651L479.254 190.137L474.506 187.428L471.657 184.268L468.333 182.462H464.535L461.211 181.108L457.413 177.947L455.988 179.302L453.614 177.947H449.816L446.492 175.69L445.068 177.044L442.219 175.239L439.845 172.079H436.521L433.198 169.821L431.773 167.564L433.198 164.855L430.824 163.501L426.551 159.889L424.651 157.632L423.227 154.02L418.954 152.666V157.632L417.054 159.889H412.781L410.882 157.632L411.832 153.118V151.312L412.781 148.603V146.346Z" fill="url(#paint7_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M341.084 324.733H338.725H338.253V311.595L341.084 309.783H343.443L344.858 307.065L341.084 302.988V302.082H346.274L350.048 299.363V297.098H348.161L346.274 295.739V294.38L348.161 292.568L352.879 291.209L354.295 288.944V279.43L351.464 276.712V269.463L352.879 263.12L355.238 262.214L358.069 259.496L359.956 261.308L359.013 263.12L362.315 264.933H367.977L370.808 266.292L374.583 270.822H370.808V280.336L366.09 281.695V283.507L374.583 283.96L375.055 281.695L377.414 280.336V275.805H385.906L388.265 277.618L392.512 278.524V271.728H393.927L397.23 266.292H392.512L391.568 263.12L392.512 260.402V258.137L395.343 257.684H403.835V250.435H401.004L399.117 251.795L391.096 252.248L387.322 250.435L385.906 248.623L384.963 245.905L385.906 242.281L388.265 240.922L390.153 238.203L395.343 235.938L397.23 233.673H399.117L401.004 230.049H405.251L409.025 228.237H410.912L412.8 225.518H414.215L417.99 222.347V219.629H418.933L425.539 222.347L427.898 221.894L432.616 223.253L436.39 227.331V232.767L434.503 233.673V237.297L431.672 241.828L429.785 245.905H427.426L426.011 249.076H422.236L420.349 250.435V253.607L422.236 254.966L422.708 258.59L420.821 260.402H419.405V263.12L420.349 264.933V271.275L423.18 272.181L425.067 273.993L427.898 276.258L430.257 276.712L432.144 275.352H434.503V271.728L432.616 268.104H431.2L429.785 264.48L429.313 262.214L426.954 258.59V253.607L432.616 250.888H434.503V255.419L436.39 256.325L441.58 255.872L444.883 258.59H450.545L452.432 255.872L454.791 254.966L455.735 253.607H461.868V258.59H464.228L467.53 257.231H472.72L471.777 260.402L472.72 262.214H476.495L480.741 257.231L486.403 257.684L488.762 258.59L491.121 260.855L494.424 262.214L497.726 263.12L501.973 266.745H508.578L510.937 268.557L511.409 285.319L508.106 286.678H496.783L495.367 285.772L493.48 284.413H489.234L488.29 289.397V292.568H493.48L496.311 294.833H497.726L500.085 296.645V298.91L496.311 302.082L493.48 305.253L491.121 304.8L490.649 309.783L488.29 310.689L485.931 312.501L485.459 314.314H480.741L479.326 315.22L477.91 317.938V319.297L476.023 322.468H474.136L472.72 324.28V328.358L470.833 329.717V336.059L467.53 337.418L467.058 336.059L464.228 334.7L461.397 331.076H457.15V333.341L452.904 332.435L451.96 330.623L449.601 331.982H447.242L445.355 329.264L444.411 329.717H441.109L438.75 330.623L433.088 332.435L429.313 333.341H427.426L426.011 331.982H422.708L419.877 333.341L418.461 336.059L414.215 336.965H410.912L406.194 335.606L403.363 334.7L406.194 331.982V329.717H398.645L392.983 330.623L392.512 333.341L389.681 336.059L388.737 340.137L382.132 340.59L380.244 342.402L377.414 340.137L375.998 336.059L374.583 336.965H365.618L360.9 334.7H358.069L355.71 331.982L350.52 330.623L346.274 329.717L343.443 326.546V322.921L341.084 324.733Z" fill="url(#paint8_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M536.117 208.69H533.281V210.042L537.062 216.348L542.733 220.852V224.906H538.007L535.172 227.608L537.062 228.959L539.425 230.761V233.013H537.062L538.007 234.815V236.166L539.898 237.968L543.206 240.22L546.514 241.121L548.877 243.373L546.986 245.175L542.733 246.076L539.898 245.175L538.007 245.625L536.117 247.427L533.754 249.229L530.919 250.58L529.501 251.931L526.193 252.832L524.775 254.183L522.412 257.336V260.489L522.885 262.741L525.248 264.093L527.138 266.795L526.665 269.948H534.699L536.59 268.146L538.007 269.047L540.843 271.299L544.623 272.651L545.569 275.804H548.877L551.24 271.75L553.13 269.948L555.02 273.552H556.911L561.164 271.299H567.307L570.143 269.498V264.993H575.341L578.649 267.246L580.067 269.948L582.43 271.75L584.32 274.452L586.211 274.002L587.156 272.651V271.75L588.574 268.146L592.354 268.597H595.662L597.553 266.795V260.94L604.641 255.985L606.059 254.183H612.203V250.129L616.456 249.229L618.346 246.976L617.874 245.625L614.093 242.923L612.203 240.671V239.319L619.291 234.815L620.237 230.761H621.654L622.599 228.509L620.237 224.906L616.456 228.509L614.093 229.41H605.586L603.696 230.761L598.025 229.41L596.135 226.257H594.245L592.354 229.41H590.936L586.211 226.257H585.265L576.759 224.005L573.924 226.257L570.615 224.906V221.753L568.253 219.951L566.362 221.753L563.999 222.203H560.219V221.753L556.911 219.951L555.493 218.149L553.603 218.6L549.349 215.897L547.932 213.645L548.404 210.492H546.514L540.37 206.889L538.007 207.339L536.117 208.69Z" fill="url(#paint9_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path  class="map-state" data-location="Mumbai" d="M307.559 369.738V363.408H310.863V359.79L314.167 358.886L317.471 361.147H322.663V354.816L323.607 351.199L326.91 352.103H330.214L331.63 349.842V343.512L325.023 341.251L326.91 339.894H330.214L333.518 337.181L334.934 334.016L338.238 332.207H333.518L330.214 330.85V328.137L334.934 324.972H338.238V324.52H341.542L343.43 322.711V326.328L346.262 329.494L355.702 331.755L358.062 334.468H360.894L365.614 336.729H374.582L375.998 335.824L377.414 339.894L380.246 342.155L382.134 340.346L388.742 339.894L389.686 335.824L392.518 333.111L392.99 330.398L398.654 329.494H406.206V331.755L403.374 334.468L410.926 336.729H414.23L418.478 335.824L419.894 333.111L422.726 331.755H426.03L427.446 333.111H429.334L441.134 329.494H444.438L445.382 329.042L447.27 331.755H449.63L451.99 330.398L452.934 332.207L457.182 333.111V330.85H461.43L464.262 334.468L467.094 335.824L468.038 338.538L462.846 343.059L465.206 346.677L465.678 349.39L464.262 352.103L468.038 354.364V358.434H464.262V361.147H466.622V362.956L464.262 364.764V367.478L467.094 369.286L470.87 373.808V378.33H467.094L465.678 376.521H464.262L463.318 379.234V383.756L461.43 385.113V391.896L459.07 391.443H456.71L454.822 389.635V386.469L453.878 384.208V378.782L454.822 377.878L453.878 375.617L451.518 372.452H449.63V374.713H446.326L444.438 373.808L441.134 372.904L440.662 371.547H437.358L436.414 372.452H434.054L432.638 370.191L430.75 367.93H425.558L422.254 367.025V371.999L420.366 376.521V378.33L418.006 379.687L413.758 378.33L412.814 379.234L410.454 384.208L413.758 388.278V389.635L411.398 391.443L410.454 392.8L408.566 394.609L406.678 395.513L406.206 398.226H403.374L402.902 397.322L401.958 396.418L400.542 396.87L398.182 400.035L395.822 401.844H392.99L392.046 403.653V407.27H390.158L388.742 410.888H383.078L381.662 414.505V417.67H379.774L375.998 416.766L374.11 417.67L368.446 415.862H367.03L365.614 418.575L367.03 420.836V425.358H359.95L358.534 427.618H356.174L354.758 426.262L351.926 427.618L350.982 430.332L347.678 431.236V434.401L345.318 433.045H342.486L340.598 434.401V437.567L342.486 440.28H345.318L344.846 445.254L343.43 446.61L339.654 452.037H333.518L332.102 453.845L330.686 454.75L328.798 451.584L325.966 447.967V443.445L324.079 441.636L322.663 438.471V433.949L321.247 430.332V428.071L320.303 423.549V420.836L318.887 417.67V414.957L316.999 411.792V409.079L315.111 405.913L315.583 403.653L313.223 399.131V393.704L310.863 391.896V375.617L307.559 369.738Z" fill="url(#paint10_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path class="map-state" data-location="Goa" d="M331.459 453.684L330.037 454.599L329.563 457.342H331.459V458.713L332.88 461.914L334.302 463.743V466.943L336.197 469.229L337.618 467.4H339.04L339.988 466.486V453.684L339.04 451.855H332.88L331.459 453.684Z" fill="url(#paint11_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path class="map-state" data-location="Bengaluru" d="M336.517 469.956V469.052L337.928 467.243H339.34L340.281 465.887V453.679L339.81 451.418L343.104 446.445L344.516 445.088L344.986 440.115H342.163L340.281 437.402V434.237L342.163 432.881H344.986L347.339 434.237V431.072L350.633 430.168L351.574 427.455L354.397 426.099L355.808 427.455H358.161L359.573 425.194H366.631V420.673L365.219 418.412L366.631 415.7H368.042L373.689 417.508L375.571 416.604L379.335 417.508H381.217V414.343L382.629 410.726H388.275L389.687 407.109H391.569V403.492L392.51 401.683H395.333L397.686 399.875L400.039 396.71L401.45 396.258L402.391 397.162L402.862 398.066H405.214L405.685 399.875V407.109L405.214 408.465L404.744 412.083L407.097 414.343L406.155 415.7L405.685 417.056L402.862 418.412L402.391 420.221L402.862 422.482V429.716L402.391 434.237H400.509V436.95H402.391L405.685 438.306V441.923L404.744 444.636L402.391 445.541H397.686L396.745 446.445V452.775L395.333 455.487V458.2L397.215 460.461L397.686 463.174L394.863 464.53L389.687 464.078L390.628 466.791L391.569 468.599L389.687 470.86V473.573L390.628 474.929L391.569 477.19L392.51 477.642V482.163L393.451 479.903L396.745 479.451H399.568L402.391 479.903V484.876H397.686L396.745 482.163H394.863L393.451 483.52L392.981 485.328L394.392 486.685V489.398L394.863 490.754L398.156 490.302L400.98 487.589L404.744 490.302L409.92 488.041L411.802 487.589L413.684 488.041H415.566L416.037 489.85L416.978 492.11L418.86 493.015H421.683L423.095 495.728V499.345H426.859V500.249L424.036 503.414V507.483L421.213 507.935L418.86 509.744L416.037 507.935H413.684L410.861 507.483L409.92 508.839L408.508 511.552H405.685L406.155 516.074L404.744 517.882V520.595L408.979 521.951V524.212V526.473L404.273 526.925L403.332 528.281H396.274L392.981 529.638L391.098 532.35H388.275L385.923 529.638H382.629L380.747 528.281H377.924L375.571 526.925L371.336 525.568L369.924 523.308L366.16 521.499L363.808 518.786L360.984 516.526L359.102 513.813L352.515 510.196L351.103 506.579H350.162V499.797L349.221 496.632V493.015L347.809 490.302V488.945L344.986 486.685V480.807L342.163 479.451V475.834L338.869 471.312L336.517 469.956Z" fill="url(#paint12_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M353.782 513.485L353.311 510.346L359.445 513.933L361.332 516.624L364.164 518.866L366.523 521.557L370.298 523.351L372.185 525.593L375.96 526.938L378.32 528.283H381.151L383.039 529.629L383.982 532.768L381.151 534.562L382.567 538.149H385.398L386.342 541.288L389.173 541.737L390.589 544.876L390.117 548.015L392.004 552.051V555.19L393.42 557.881L395.779 559.226L398.139 557.881H399.554L400.026 561.02V569.989L400.97 573.576L404.273 574.025L403.329 577.164L400.026 578.509V580.752L398.139 584.339L399.554 587.478V589.272L400.026 591.066V594.653L398.139 597.792L394.364 594.653L392.004 591.066H390.117L389.173 587.478L386.342 583.442L383.982 580.752V576.716L382.567 574.025V572.68H383.982L382.567 566.401V564.608L381.151 563.262L379.735 558.778L377.376 555.19V553.845L375.96 549.809L373.129 548.015L372.185 544.428V541.737L367.939 535.459L365.579 529.629H363.692L360.861 526.041L358.973 522.005L353.782 513.485Z" fill="url(#paint13_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M619.573 214.997L616.229 212.759L617.184 210.522V205.152L618.617 203.362V201.124L619.573 197.544L621.962 197.992L623.873 196.649L627.695 195.307H633.428V200.229L635.339 201.572L634.384 205.152V210.969L633.428 212.312L631.995 213.207L627.217 213.654L625.306 214.997H619.573Z" fill="url(#paint14_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M697.741 207.119V220.296L701.538 218.024L706.76 218.478L709.133 216.206H713.88L717.677 218.478H730.019L730.969 217.115L734.766 216.661L735.716 213.026L737.614 211.662L738.089 208.936L743.311 205.301L746.633 205.755L749.007 202.12H751.855L752.804 200.757L758.026 200.303L760.399 198.485H764.197L767.045 198.031L768.944 195.305H774.64L776.539 197.122L774.64 202.12V205.755L776.064 208.936V211.662L772.741 211.208L768.469 212.117L766.096 214.843L764.197 215.297L762.298 218.024L762.773 224.84L768.469 222.113L772.741 218.933L778.912 213.026L783.184 211.662H786.507L790.305 210.754L792.678 211.662L794.102 213.026L796.001 213.48L797.899 215.752H799.798V211.662L797.425 209.845L796.475 207.573L796.001 203.938L797.425 201.666L799.798 199.394L802.172 198.94L805.02 197.122V191.215L804.07 188.943L801.222 187.58L799.324 188.034H796.475L796.001 185.308L794.102 184.854L792.678 183.036L791.254 182.582L787.456 183.945L787.931 182.127L789.355 180.31V178.038L787.456 173.948L784.608 171.677L783.659 170.768L784.608 167.587L783.659 166.678H781.76L781.285 165.77H774.165L773.69 166.678L771.317 167.587L769.893 169.405L766.57 170.313L764.197 172.131L760.399 171.677L758.026 170.313H755.178L753.279 168.496L748.057 167.587L745.209 168.496L744.735 173.04L741.412 175.766L738.564 178.492L734.766 178.947L733.817 180.31L729.07 181.673L726.222 181.219L724.798 182.582L720.051 185.308V187.126H717.203L716.728 189.398L713.405 192.578L711.507 193.033V196.213L708.658 198.94L702.488 199.848H701.063L697.741 201.212H693.943L691.095 199.848L689.196 204.392L691.095 207.119H697.741Z" fill="url(#paint15_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M760.387 217.893H762.274L762.746 224.718L760.387 226.083V227.903L758.499 230.633L760.387 236.093L762.274 238.369L759.443 241.554L758.027 242.464L757.556 245.649L755.668 246.104L754.252 248.379L752.837 250.199L751.893 250.654L750.477 251.564V248.834L749.062 247.469H747.174L745.287 248.379L742.927 249.744H741.04L737.265 248.379H734.434L732.546 249.744V253.384L729.715 256.114H725.468L727.356 252.929V251.109L724.524 249.744L725.468 246.104L728.299 244.284L731.131 241.099L733.962 242.009L737.265 238.824L739.152 235.638L740.096 233.818L742.927 229.723L746.231 227.448H747.174L752.837 222.443L760.387 217.893Z" fill="url(#paint16_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M724.727 256.851L725.666 255.953H729.892L732.71 253.26V249.67L734.588 248.323H737.405L741.162 249.67H743.509L747.266 247.426H749.144L750.553 248.772V251.016L749.144 255.953L752.431 258.197L752.9 259.095L751.492 263.134L750.083 264.93L749.144 266.725L747.266 268.52L745.387 271.662L744.448 275.252L742.57 277.945V280.189L741.631 283.331H736.936L735.057 282.433H731.77L728.484 281.985H726.605L724.727 281.087V279.741H718.153V270.764L720.971 267.623V263.134L722.379 261.339L723.788 259.095L724.727 256.851Z" fill="url(#paint17_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M715.925 272.33L717.804 273.234V279.564H724.382V280.92L726.261 281.825L725.322 283.181V289.963L726.261 293.58V299.909L725.322 301.266L722.503 302.17L721.093 303.978L720.153 305.787V312.116L721.093 314.622V318.446L716.864 321.611L716.395 323.872L712.166 321.611H710.756L710.287 322.515H708.877V317.994V314.377L707.937 313.925V309.404L705.588 304.43L704.648 301.266V295.388L703.709 293.58L702.299 289.963L701.359 288.606L704.178 284.085V280.92L705.118 278.208L706.998 276.399L711.696 275.043L713.106 273.234L715.925 272.33Z" fill="url(#paint18_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M523.944 275.634L522.99 278.781H525.376L526.807 280.129V283.277L532.532 289.121V290.919H534.918V295.415L536.349 298.113L538.257 301.26L541.597 303.058H543.505V306.655L539.689 308.453L536.349 310.251V314.297L537.303 314.747L545.414 317.444L548.753 315.646L555.433 314.297L558.772 314.747V317.444L556.864 320.592L558.772 322.39H561.158L563.066 321.491L568.792 320.592L570.223 322.39L575.471 323.289L577.379 320.592V314.747L578.333 313.398H581.673L583.582 315.646L589.307 317.444L591.692 318.793L593.123 316.995V314.747L590.261 310.251L586.444 308.453L585.013 306.655V305.755L586.444 304.856V303.058H581.673L578.333 301.26L575.471 299.461V292.718L577.379 290.919H578.333L579.765 292.718L582.627 292.268L584.536 290.919L586.444 289.121H590.261L591.692 286.873L593.123 284.625L596.94 282.827L597.894 284.625L601.234 286.424L602.665 285.524V281.029H606.482L607.913 278.331H608.868L610.299 276.533V274.735H612.207V271.588L613.162 269.789L615.07 269.34V263.945L612.684 259.449V254.953H606.482L605.051 256.751L597.894 261.697V267.991L595.986 269.34L592.646 268.89H589.307L587.398 272.487V273.386L586.444 274.735H584.536L582.627 272.487L580.242 270.688L578.811 267.991L575.471 265.743H570.223V270.688L566.883 272.487H561.158L556.864 274.735H554.956L553.047 270.688L550.662 272.487L548.753 276.533H545.414L544.46 273.835L539.689 271.588L536.349 268.89L534.441 270.688H523.944V271.588L525.376 273.835L523.944 275.634Z" fill="url(#paint19_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M693.425 220.196H698.153L701.936 217.933L707.137 218.386L709.501 216.123H714.23L718.012 218.386H730.306L731.252 217.028L735.034 216.576L735.98 212.955L737.871 211.598L738.344 208.883L743.545 205.262L746.855 205.715L749.22 202.095H752.057L753.002 200.737L758.203 200.285L760.568 198.474H764.35L767.187 198.022L769.079 195.307H774.753L776.644 197.117L774.753 202.095V205.715L776.171 208.883V211.598L773.334 211.145L768.606 212.05L766.242 214.766L764.35 215.218L762.459 217.933H760.568L753.002 222.459L747.801 226.984H746.855L743.545 229.247L740.236 234.677L737.399 238.75L734.089 241.918L731.252 241.013L728.415 244.18L725.578 245.99L725.105 249.611L727.469 250.968V252.779L725.105 256.851L723.686 259.114L722.741 261.377L720.849 263.187V267.712L718.012 270.88V273.595L716.121 272.69L713.284 273.595L712.338 275.405L706.664 276.763L705.246 278.12L703.354 273.143L700.044 270.88L701.463 266.807V264.092L702.881 263.187H704.773H706.664V261.377L704.773 260.472V260.019L712.811 254.589V252.779L711.393 252.326L708.556 247.348L703.354 244.18L701.463 243.728V240.108L704.773 237.845H693.425L690.588 239.655L689.169 241.918L686.805 242.37L685.386 243.728H682.549L681.131 242.37L676.875 240.56H674.511L670.728 239.655H661.745L659.38 240.108L658.435 241.013L656.071 243.728V246.443L654.652 245.99L653.706 244.18V241.013L651.815 237.845L650.396 235.582L651.815 234.225H653.234V229.699L655.125 228.342V225.626L653.234 223.816L652.761 222.459L658.435 222.911L661.272 220.196H664.582L667.891 221.554L690.115 222.006L693.425 220.196Z" fill="url(#paint20_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M655.061 247.52L656.001 246.165V243.454L659.288 239.841L661.637 239.389H670.561L674.318 240.292H676.666L680.894 242.099L681.833 243.454H685.121L686.53 242.099L688.878 241.647L690.287 239.389L693.105 237.582H704.377L701.09 239.841V243.454L702.968 243.906L708.135 247.068L710.953 252.037L712.362 252.489V254.295L704.377 260.168L701.09 259.264L699.211 256.102H694.045L689.348 257.457H685.121L682.772 255.65H678.545L676.197 256.554L673.379 256.102L670.091 257.006H663.046L660.228 255.199L658.819 255.65L655.061 254.747L653.652 253.844L652.713 251.585L655.061 249.327V247.52Z" fill="url(#paint21_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M417.869 34.1212H407.477V31.8645L405.587 28.7052L400.863 27.3512L397.084 25.0945L395.667 21.9352L392.36 18.7759L387.637 16.9706L383.857 13.3599L380.551 12.9086L377.244 7.94395L372.993 5.23597V0.722656H371.103L366.852 2.07665H364.49L361.183 0.722656H357.876L354.57 2.07665H341.815V5.23597H330.006L330.95 7.94395L327.644 13.3599L324.337 12.9086L321.03 16.5192L319.141 21.9352L324.337 25.0945L330.95 25.5459L332.84 30.0592L339.453 31.8645V34.1212L342.288 34.5725L344.649 37.7318L351.735 40.8911H356.931L357.876 44.5018L364.49 45.8558H367.796L370.158 50.8204V55.3337L371.103 58.493L372.993 57.5904L377.244 60.7497V63.4577H379.134L381.023 66.617L385.747 68.8736L383.857 74.741H387.637L390.471 76.0949L395.667 81.5109V83.3162L398.974 85.5729H404.642H407.477L408.894 84.2189L411.728 85.5729L414.563 88.7322V90.9889L416.925 91.8915L421.648 90.9889V91.8915L425.427 93.6969L428.262 95.9535L431.096 91.8915V96.8562H437.709L439.599 95.9535H441.489L443.851 91.8915V77.4489H438.654L433.93 74.741L434.875 71.1303L435.82 68.8736L434.875 66.617L433.93 62.555H443.851L445.268 57.5904V53.9797H449.047V52.6257V49.9177H454.243L456.133 47.2098V42.2451L457.55 36.8291V34.1212L454.243 31.8645V30.5105H450.464L448.102 29.6078L443.851 25.9972L441.489 21.9352H434.875L430.151 27.3512L417.869 34.1212Z" fill="url(#paint22_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path class="map-state" data-location="Kolkata" d="M616.671 216.169L615.726 212.552L619.032 214.812H624.699L626.588 213.456L630.839 213.004L632.255 212.1L633.672 216.169L636.033 218.429V220.237H645.479L648.312 222.498H652.09L652.562 223.854L654.451 225.663V228.375L652.562 229.731V234.252H651.146L649.729 235.609L648.312 236.061L647.368 239.678H646.895L644.062 238.773L640.756 236.513L638.395 234.705V231.992L636.506 230.184H635.089V232.896H633.672L630.839 231.54L626.116 231.992L619.032 238.773V241.034L621.866 243.294L623.755 244.199L625.172 247.815L628.477 250.98L631.311 250.528L633.672 252.336L636.033 255.049L635.561 256.405H631.311L627.061 257.31L624.699 259.118L624.227 260.926L618.088 264.995V268.612L619.032 270.42L620.921 272.229L622.81 273.133L624.699 274.489H630.366V279.01L631.311 280.819V282.627L629.422 284.435L627.061 285.792V287.6L628.477 290.313L628.95 291.217L631.311 292.573L631.783 296.19L635.561 300.711L634.144 304.78V307.493L636.033 310.657V317.439L637.922 321.056V322.864L635.089 323.768L637.922 326.481V333.714L635.089 331.906H629.422V326.933H628.95L627.061 331.906H623.755L620.921 329.645L619.032 326.933V323.316L620.921 321.056L618.088 319.247L615.726 314.274L615.254 315.63V317.439L617.143 320.151L617.615 321.508V323.316L616.199 325.576L614.782 327.385L608.643 330.55L607.226 331.002L606.281 330.097L605.337 328.289L604.392 327.385H601.559L599.197 323.768L594.947 321.508L591.169 318.795L592.586 316.987V314.726L589.752 310.205L585.974 308.397L584.557 306.588V305.684L585.974 304.328V302.972H581.252L575.112 299.355V292.573L577.001 290.765H577.946L579.363 292.573L582.196 292.121L584.085 290.765L585.974 288.956H589.752L592.586 284.435L596.364 282.627L597.308 284.435L600.614 286.244L602.031 285.34V280.819H605.809L607.226 278.106H608.17L609.587 276.298V274.489H611.476V271.777L612.421 269.516L614.31 269.064V263.639L611.948 259.118V250.528L616.671 249.624L618.088 246.911L617.615 245.555L613.837 243.294L611.948 240.582V239.678L619.032 235.157L619.977 231.088H621.393L622.338 228.827L619.977 225.21L617.615 227.019L619.032 222.046V218.881L616.671 216.169Z" fill="url(#paint23_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M465.309 393.671L461.025 391.868V385.105L462.929 383.752V379.243L463.881 376.538H465.309L466.737 378.341H470.544V377.891V373.833L466.737 369.324L463.881 367.521V364.815L466.261 363.012V361.208H463.881V358.503H467.689V354.445L463.881 352.191L465.309 349.486L464.833 347.231L462.453 343.174L467.689 338.665L467.213 337.312L470.544 335.96V329.648L472.448 328.295V324.237L473.876 322.434H475.78L477.683 319.278V317.925L479.111 315.22L480.539 314.318H485.298L485.774 312.514L488.154 310.711L490.534 309.809L491.01 304.399L493.389 305.301L496.245 302.595L500.053 298.988V296.734L497.673 294.931H496.245L493.389 292.676H488.154V289.069L489.106 284.561H493.389L496.721 286.815H508.144L511.475 285.462V284.561H519.566L521.47 281.404L523.85 278.699H525.753L527.181 280.503V283.208L532.893 289.069V290.873H535.272V295.381L538.604 301.243L541.935 303.046H543.839V306.653L536.7 310.26V314.318L534.796 315.22L529.561 320.179L527.181 321.081V327.393L525.753 330.098L524.326 332.353L523.374 335.058L520.042 340.018L518.614 340.468V341.37H508.62L505.288 344.977H503.86V363.012H510.047L511.475 367.07L508.62 369.324L501.004 364.815L495.293 363.012L492.438 364.815V367.07L493.865 369.324L496.721 372.931V375.185L498.625 379.243V389.162L496.721 391.868L491.01 398.18L487.202 400.434L485.774 403.139V409.001L483.395 408.55H476.731L475.304 407.648L473.876 404.492L472.448 402.238H470.544L468.64 398.631V396.376L467.689 395.475L465.309 393.671Z" fill="url(#paint24_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M490.746 408.545L486.508 408.999V403.104L487.45 400.383L491.688 398.116L497.34 392.221L499.224 389.047V378.617L497.34 374.989V371.815L493.572 367.28V364.56L496.398 362.746L502.049 365.013L509.114 369.094L511.939 366.374L510.527 362.746H504.404V344.607H505.817L509.114 340.98H519.004V340.073L520.417 339.619L523.713 334.631L524.655 331.911L527.481 326.922V320.574L529.836 319.667L535.016 314.679L536.9 313.772L545.848 316.946L549.145 315.133L555.738 313.772L559.035 314.226V316.946L557.151 320.121L559.035 321.934H561.861L563.274 321.028L568.925 320.121L570.338 321.934L575.518 322.841L577.402 320.121V314.226L578.344 312.865L582.112 313.319L583.054 315.133L589.176 316.946L591.531 318.307L595.769 321.028L600.008 323.295L601.892 326.469H604.247L605.66 327.829L606.601 329.643L607.543 330.55L601.892 331.457L598.595 333.271L596.711 334.631V336.445L594.357 338.712V343.701L595.769 346.421L596.711 349.595L595.769 353.223L593.415 354.584V357.758L589.176 359.118L587.292 361.385L585.879 364.56L584.467 365.467L583.996 364.56L582.112 364.106L580.228 361.839L580.699 366.374V367.28H578.344L575.989 368.187L570.338 367.734L567.512 366.374H564.215L560.448 370.001L560.919 371.815L559.506 373.629L559.035 376.803L556.68 379.07L553.854 382.245L549.616 381.791L546.79 384.058H543.964V388.14H537.371L533.132 387.686L529.365 384.058L528.423 382.245L523.713 381.791L522.3 384.058V389.5H519.004L518.533 396.755L513.352 397.209L513.823 398.116L507.23 399.023L506.759 396.755H505.346V394.488H503.462L502.52 396.302V404.464L499.695 403.557L496.398 405.825L494.514 405.371L490.746 407.185V408.545Z" fill="url(#paint25_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M481.744 412.758V408.708H477.934L476.03 407.808L474.601 405.108L473.173 402.407H471.268L469.363 398.807V396.556L466.03 393.856L461.745 392.056L459.364 391.606H456.983L455.079 389.806V386.655L454.126 384.197V379.004L455.079 378.104L454.126 375.854L451.745 372.703H449.841V374.954H446.984L444.603 374.054L441.27 373.153L440.794 371.803H437.46L436.508 372.703H434.127L432.699 370.453L430.794 368.203H426.033L422.223 367.303V372.253L420.319 376.754V378.554L417.938 379.904L413.652 378.554L412.7 379.904L410.319 384.405L413.652 388.455V389.806L411.271 391.606L410.795 392.506L408.415 394.756L406.51 395.656L406.034 398.357H405.558L406.034 400.157V407.358L405.558 408.708L405.081 412.308L407.462 414.559L406.51 415.909L406.034 417.259L403.177 418.609L402.701 420.409L403.177 422.66V429.861L402.701 434.361L400.796 434.811V437.062H402.701L406.034 438.412V442.012L405.081 444.713L406.986 446.063L413.176 441.562L417.462 439.762L423.652 441.562L430.318 438.862L433.651 441.562L440.317 438.862V436.161L445.079 432.561H447.936L450.793 433.461L453.65 430.761L455.555 428.51L459.364 424.91L462.697 423.11L464.126 424.91H467.459L468.411 420.86L472.22 418.609H474.601L478.887 420.86L480.315 416.809H486.505V413.659L483.648 412.758H481.744Z" fill="url(#paint26_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M459.25 496.517L461.604 494.711V502.838L460.192 507.353V511.417L459.25 513.223L458.309 517.287L456.896 518.19L455.484 520.447L453.601 521.802L451.247 524.962H448.894V528.123L450.306 529.478V536.702L448.894 537.605L451.247 539.862V557.02L449.835 557.923H443.715L441.833 559.278L440.891 561.084V565.599L438.067 566.502L435.713 570.114L434.301 572.823L435.242 575.984L438.067 576.887L443.715 577.338L444.657 580.047L441.833 578.693H432.888L428.652 579.596L427.239 580.95L424.415 582.305H422.061L419.237 586.369V592.238L417.354 594.947L410.763 599.011L408.88 599.914L406.056 601.269H400.878L398.053 598.108L399.936 594.947V590.884L399.465 589.529V587.723L398.053 584.562L399.936 580.95V578.693L403.231 577.338L404.173 574.178L400.878 573.726L399.936 570.114V561.084L399.465 557.923H398.053L395.7 559.278L393.346 557.923L391.934 555.214V552.053L390.051 547.99L390.521 544.829L389.109 541.669L386.285 541.217L385.343 538.056L382.519 537.605L381.106 534.444L383.931 532.638L382.989 529.478H386.285L388.638 532.187H391.463L393.346 529.478L396.641 528.123H403.702L404.644 526.769L409.351 526.317V521.802L405.114 519.996V517.738L406.527 515.932L406.056 511.417H408.88L409.822 508.708L411.234 507.353L414.059 507.805H416.412L421.59 511.417L425.827 510.965L427.239 508.708L428.652 505.999L431.476 504.193H436.184L439.95 503.29L442.303 500.129H451.247L455.484 495.614L459.25 496.517Z" fill="url(#paint27_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path class="map-state" data-location="Chennai"  d="M551.795 384.611L553.683 382.811L549.435 382.361L546.603 384.161H543.771V388.661H536.219L532.915 388.211L529.139 384.611L528.195 382.811L523.475 382.361L522.059 384.611V390.011L518.755 390.461L518.283 397.211L513.091 397.661L513.563 398.56L506.955 399.46L506.483 397.211H505.067V394.961H503.179L502.235 397.211V404.86L499.403 403.96L496.1 406.66L494.212 405.31L490.436 407.56V408.91H486.66H484.3L481.468 408.46V412.96H483.356L486.188 413.86V417.01H480.052L478.636 421.059L474.388 418.809H472.028L468.252 421.059L467.308 425.109H464.004L462.588 423.309L458.812 425.109L455.508 428.709L454.092 430.509L450.788 433.659L448.428 432.759H445.124L440.404 436.358V439.058L433.796 441.758L430.492 439.058L423.884 441.758L417.748 439.958L413.028 441.758L407.364 446.258L405.476 444.908L403.116 445.808H398.396L397.452 446.708V453.008L396.036 456.157V458.407L397.924 460.657L398.396 463.357L395.092 464.707L390.372 463.807L391.316 466.957L392.26 468.757L390.372 471.007V473.707L391.316 475.056L392.26 477.306L393.204 477.756V481.806L394.148 480.006L397.452 479.556H400.756L403.116 480.006V484.956H398.396L397.452 482.256H395.564L394.148 483.606L393.676 485.406L395.092 486.756V489.456L395.564 490.806L398.868 490.356L401.7 487.656L405.476 490.356L410.668 488.106L412.556 487.656L414.444 488.106H416.332L417.748 492.156L419.636 492.606L422.468 493.056L423.884 495.755V499.355H427.66V500.255L424.828 503.405V507.455L421.996 507.905L419.636 509.705L421.996 511.505L426.244 511.055L428.132 508.355L429.076 506.105L431.908 504.305H436.628L440.404 503.405L442.764 500.255H451.732L455.98 495.755L459.756 496.655L462.116 495.305V492.156L459.756 486.756L458.812 481.806L459.756 479.106V476.406L457.868 471.907L457.396 461.557L459.284 458.407V457.057L464.476 450.308L467.78 448.958H471.556L472.5 450.308H473.916L475.804 449.408L478.636 447.158V444.908L480.052 442.658V438.608H492.796L502.235 434.559L503.179 433.209V422.859L506.483 421.059L513.091 418.809L518.755 416.11L522.059 412.51L523.475 410.26L525.835 408.91L528.195 406.21L529.611 403.96L532.915 401.71L534.803 399.91H536.691L538.579 398.111L541.411 396.761L546.603 391.811L549.435 388.661L551.795 384.611Z" fill="url(#paint28_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           <path d="M699.665 272.379L700.623 270.592L703.496 272.826L705.412 277.74L704.454 280.867V283.994L701.581 288.462H698.707L697.75 289.355L695.834 292.036V294.716H694.397L693.44 297.843V301.864H688.172L685.778 298.29H684.341L683.862 294.716L681.468 292.929L680.51 289.355V284.888L682.425 283.101L689.609 278.187H692.003L695.834 275.953V275.059L696.792 273.272L699.665 272.379Z" fill="url(#paint29_linear_1168_1912)" fill-opacity="0.6" stroke="#646C81" stroke-width="1.44564"/>
                           </g>
                           <defs>
                           <filter id="filter0_d_1168_1912" x="221.706" y="0" width="584.878" height="615.458" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                           <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                           <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                           <feOffset dx="0.841638" dy="13.4662"/>
                           <feComposite in2="hardAlpha" operator="out"/>
                           <feColorMatrix type="matrix" values="0 0 0 0 0.74902 0 0 0 0 0.835294 0 0 0 0 0.823529 0 0 0 1 0"/>
                           <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1168_1912"/>
                           <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1168_1912" result="shape"/>
                           </filter>
                           <linearGradient id="paint0_linear_1168_1912" x1="342.473" y1="36.8863" x2="374.136" y2="100.918" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint1_linear_1168_1912" x1="381.981" y1="76.7446" x2="417.756" y2="142.19" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint2_linear_1168_1912" x1="344.24" y1="92.9313" x2="382.059" y2="157.194" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint3_linear_1168_1912" x1="421.124" y1="118.003" x2="451.504" y2="180.692" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint4_linear_1168_1912" x1="355.104" y1="130.461" x2="395.276" y2="199.766" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint5_linear_1168_1912" x1="277.942" y1="146.44" x2="354.209" y2="309.641" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint6_linear_1168_1912" x1="246.21" y1="264.184" x2="291.979" y2="371.385" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint7_linear_1168_1912" x1="426.059" y1="139.744" x2="499.792" y2="288.338" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint8_linear_1168_1912" x1="372.112" y1="216.639" x2="425.608" y2="357.17" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint9_linear_1168_1912" x1="542.003" y1="205.21" x2="571.353" y2="284.685" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint10_linear_1168_1912" x1="339.493" y1="319.495" x2="402.695" y2="465.099" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint11_linear_1168_1912" x1="331.602" y1="451.432" x2="342.916" y2="464.077" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint12_linear_1168_1912" x1="354.182" y1="392.943" x2="441.386" y2="500.767" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint13_linear_1168_1912" x1="363.276" y1="508.216" x2="420.383" y2="570.206" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint14_linear_1168_1912" x1="619.966" y1="194.827" x2="630.895" y2="214.585" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint15_linear_1168_1912" x1="711.845" y1="164.331" x2="731.563" y2="236.344" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint16_linear_1168_1912" x1="731.998" y1="216.962" x2="752.874" y2="255.844" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint17_linear_1168_1912" x1="724.948" y1="246.551" x2="744.909" y2="282.532" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint18_linear_1168_1912" x1="706.229" y1="271.075" x2="739.815" y2="301.299" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint19_linear_1168_1912" x1="540.996" y1="253.289" x2="571.789" y2="330.574" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint20_linear_1168_1912" x1="675.083" y1="193.29" x2="709.087" y2="289.843" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint21_linear_1168_1912" x1="664.377" y1="237.032" x2="670.155" y2="265.456" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint22_linear_1168_1912" x1="346.206" y1="-1.61852" x2="387.449" y2="108.986" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint23_linear_1168_1912" x1="590.627" y1="209.138" x2="668.826" y2="304.16" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint24_linear_1168_1912" x1="477.219" y1="275.526" x2="561.399" y2="375.177" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint25_linear_1168_1912" x1="510.175" y1="310.524" x2="555.632" y2="417.124" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint26_linear_1168_1912" x1="417.556" y1="365.385" x2="458.509" y2="448.396" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint27_linear_1168_1912" x1="396.847" y1="492.116" x2="462.787" y2="584.898" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint28_linear_1168_1912" x1="422.306" y1="379.216" x2="483.186" y2="522.613" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           <linearGradient id="paint29_linear_1168_1912" x1="685.379" y1="269.83" x2="704.375" y2="298.005" gradientUnits="userSpaceOnUse">
                           <stop offset="1" stop-color="#F6F4E6"/>
                           <stop offset="1" stop-color="#F6F4E6"/>
                           </linearGradient>
                           </defs>


                           <g class="map-item" data-lx="200" data-ly="350">
                              <circle class="map-hover" cx="325" cy="400" r="5" fill="#FC713C" data-pointer="Mumbai" data-location="Mumbai"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Mumbai</text>
                              </g>
                           </g>

                           <g class="map-item" data-lx="200" data-ly="400">
                              <circle class="map-hover" cx="335" cy="460" r="5" fill="#FC713C" data-pointer="Goa" data-location="Goa"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Dabolim & Mopa, Goa</text>
                              </g>
                           </g>

                           <g class="map-item" data-lx="275" data-ly="510">
                              <circle class="map-hover" cx="382" cy="460" r="5" fill="#FC713C" data-pointer="Bengaluru" data-location="Bengaluru"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Bengaluru</text>
                              </g>
                           </g>

                            <g class="map-item" data-lx="510" data-ly="460">
                              <circle class="map-hover" cx="440" cy="475" r="5" fill="#FC713C" data-pointer="Chennai" data-location="Chennai"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Chennai</text>
                              </g>
                           </g>

                           
                            <g class="map-item" data-lx="690" data-ly="400">
                              <circle class="map-hover" cx="605" cy="314" r="5" fill="#FC713C" data-pointer="Kolkata" data-location="Kolkata"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Kolkata</text>
                              </g>
                           </g>

                              <g class="map-item" data-lx="580" data-ly="170">
                              <circle class="map-hover" cx="420" cy="195" r="5" fill="#FC713C" data-pointer="Noida" data-location="Noida"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Noida</text>
                              </g>
                           </g>

                           <g class="map-item" data-lx="170" data-ly="180">
                              <circle class="map-hover" cx="400" cy="191" r="5" fill="#FC713C" data-pointer="Delhi" data-location="Delhi"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Delhi</text>
                              </g>
                           </g>

                           <g class="map-item" data-lx="160" data-ly="160">
                              <circle class="map-hover" cx="390" cy="175" r="5" fill="#FC713C" data-pointer="Gurugram" data-location="Delhi"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Gurugram</text>
                              </g>
                           </g>
                           
                           <g class="map-item" data-lx="120" data-ly="120">
                              <circle class="map-hover" cx="350" cy="139" r="5" fill="#FC713C" data-pointer="Amritsar" data-location="Amritsar"></circle>
                              <path class="map-line" d=""></path>
                              <g class="map-label-group">
                                 <rect class="map-label-bg" rx="4" ry="4" width="70" height="25"/>
                                 <text class="map-label" text-anchor="middle" dominant-baseline="central">Amritsar</text>
                              </g>
                           </g>



                        </svg>

                     </div>
                     
                  </div>
               </div>
            </div>
         </section>
         }
         <!-- ==================== DIVERSE PLAYGROUNDS SECTION ==================== -->
           <!-- ==================================
         4: Diverse Playgrounds. Singular Spirit
         =================================== -->
         <section id="playgrounds-section" class="bg-cream section-spacing relative overflow-hidden">
            <img src="assets/images/bg-pattern.webp" alt="" class="w-full h-full absolute top-0 left-0"/>
            <div class="container">
               <!-- Section Heading -->
            @foreach (var item in Model.Singular_Spirit_Aboutus_List.Where(x => x.IsBlock == 1))
            {
               <div class="section-title-outer text-center mx-auto max-w-5xl">
                  <h2 class="title-section text-h2 " data-leaf-target letters-slide-down text-split>
                     @Html.Raw(
                             !string.IsNullOrWhiteSpace(item.DisplayTitle)
                             ? item.DisplayTitle.CleanParagraphTags()
                             : item.Title)
                  </h2>
               </div>
            }

               <!-- Swiper Slider Container -->
               <div class="swiper mySwiper three-box-slider px-0 md:px-4 pt-10">
                  <div class="swiper-wrapper">
                     <!-- Slide 1 -->
                    @foreach (var item in Model.Singular_Spirit_Aboutus_List.Where(x => x.IsBlock == 0))
                    {
                        <div class="swiper-slide group cursor-pointer">
                            <div class="feature-card">
                            <div class="playground-media w-full overflow-hidden rounded-t-full mb-6 relative">
                                <img loading="lazy" src="@item.ThumbnailImage" alt="@item.ThumbnailAltText" class="playground-image w-full h-full object-cover transition-transform duration-700" />
                                <div class="absolute bottom-0 left-0 w-full p-6 bg-gradient-to-t from-black/70 to-transparent  text-center">
                                    <h3 class="text-white">@item.Title</h3>
                                </div>
                            </div>

                             @if (!string.IsNullOrWhiteSpace(item.Url))
                                {
                                    <a href="@item.Url" class="link-md link-dark">
                                        <span class="underline">
                                            @(string.IsNullOrWhiteSpace(item.Url_Text) ? "Learn More" : item.Url_Text)
                                        </span>
                                        <img loading="lazy" src="/Assets/images/arrows/blackarrow-long-right.png" alt="→" />
                                    </a>
                                }
                            </div>
                        </div>
                     }
                     
                  <!-- Slider Navigation -->
                  <div class="flex justify-center items-center gap-4 md:gap-6 mt-8 md:mt-12  w-auto!">
                     <div class="swiper-button-prev-custom cursor-pointer w-10 h-10 md:w-12 md:h-12 rounded-full bg-green flex items-center justify-center text-cream transition-all hover:scale-110">
                        <img loading="lazy" src="/Assets/images/arrows/swiperLeft.png" alt="swiperLeft" />
                     </div>
                     <div class="swiper-pagination-custom flex items-center justify-center gap-3 md:gap-4"></div>
                     <div class="swiper-button-next-custom cursor-pointer w-10 h-10 md:w-12 md:h-12 rounded-full bg-green flex items-center justify-center text-cream transition-all hover:scale-110">
                        <img loading="lazy" src="/Assets/images/arrows/swiperRight.png" alt="swiperRight" />
                     </div>
                  </div>

               </div>
            </div>
         </section>


@section Scripts {
    <script src="~/Assets/js/inner-banner-script.js"></script>
    <script src="~/Assets/js/center-mode-slider.js"></script>
    <script src="~/Assets/js/three-box-slider.js"></script>
    <script src="~/Assets/js/three-tilt-card.js"></script>
    <script src="~/Assets/js/about-us.js"></script>
}