@model Nekta_MVC.Models.Manage_Model.Templatetype_Model
@{
    Layout = "~/Views/Shared/Manage/_Layout_RHS.cshtml";
}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/manage/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit Blocks Layout
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <h2>Edit Blocks Layout</h2>

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <!-- encrypted id -->
        <input type="hidden" name="EncId" value="@ViewBag.EncId" />
        <input asp-for="ID" type="hidden" />

        <div class="row">


            <div class="col-md-12">
                <div class="form-group mb-3">
                    <label class="form-label">Template type</label>
                    <input asp-for="Template_Type" class="form-control" />
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group mb-3">
                    <label class="form-label">Components</label>

                    <select name="TemplateIds" multiple class="form-control form-select">
                        @foreach (var t in ViewBag.ComponentMasters)
                                {
                            var selected = ViewBag.SelectedComponents != null &&
                            ((List<int>)ViewBag.SelectedComponents).Contains(t.ID);

                            <option value="@t.ID" selected="@(selected ? "selected" : null)">
                                @t.Name
                            </option>
                        }
                    </select>

                    <small class="text-muted">Hold Ctrl to select multiple components</small>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <label class="form-label">Design Layout</label>
                    @Html.TextAreaFor(model => model.Design_Layout, new { @class = "form-control editor-full",
                    placeholder = "Enter design layout" })
                    @* <textarea asp-for="Design_Layout" class="form-control editor-full"></textarea> *@
                </div>
            </div>

            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success cms-btn-custom">Update</button>
            </div>
        </div>

    </form>
</div>
@section head {
    <link rel="stylesheet" href="/Assets/ckeditor5/ckeditor5.css" />
}



@section Scripts {
    <script type="importmap">
                {
                    "imports": {
                        "ckeditor5": "@Url.Content("~/Assets/ckeditor5/ckeditor5.js")",
                        "ckeditor5/": "@Url.Content("~/Assets/ckeditor5/")"
                    }
                }
            </script>
    <script src="~/Assets/scripts/add_ck_editor.js" type="module"></script>
}