@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<HomeCommonModel>

@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}


<section id="playgrounds-section" class="bg-darkcream section-spacing overflow-hidden">
    <div class="container">
        <!-- Section Heading -->
        <div class="section-title-outer text-center mx-auto max-w-5xl">
            <h2 class="title-section text-h2 " data-leaf-target letters-slide-down text-split>
                @Html.Raw(
                !string.IsNullOrWhiteSpace(Component.DisplayTitle)
                ? Component.DisplayTitle.CleanParagraphTags()
                : Component.Title)
            </h2>
            <p>@Html.Raw(Component.Intro.CleanParagraphTags())</p>
        </div>

        <!-- Swiper Slider Container -->
        <div class="swiper mySwiper three-box-slider px-0 md:px-4 pt-10">
            <div class="swiper-wrapper">

                @foreach (var item in Model.Where(x => x.IsBlock == 0))
                {
                    <div class="swiper-slide group cursor-pointer">
                        <div class="feature-card">
                            <div class="playground-media w-full overflow-hidden rounded-t-full mb-6 relative">
                                <img loading="lazy" src="@item.ThumbnailImage" alt="@item.ThumbnailAltText"
                                    class="playground-image w-full h-full object-cover transition-transform duration-700" />
                                <div
                                    class="absolute bottom-0 left-0 w-full p-6 bg-gradient-to-t from-black/70 to-transparent  text-center">
                                    <h3 class="text-white">@item.Title</h3>
                                </div>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(item.Url))
                            {
                                <a href="@item.Url" class="link-md link-dark">
                                    <span class="underline">
                                        @(!string.IsNullOrWhiteSpace(item.Url_Text) ? item.Url_Text : "Learn More")
                                    </span>
                                    <img loading="lazy" src="/assets/images/arrows/blackarrow-long-right.png" alt="→" />
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
            <!-- Slider Navigation -->
            <div class="flex justify-center items-center gap-4 md:gap-6 mt-8 md:mt-12  w-auto!">
                <div
                    class="swiper-button-prev-custom cursor-pointer w-10 h-10 md:w-12 md:h-12 rounded-full bg-green flex items-center justify-center text-cream transition-all hover:scale-110">
                    <img loading="lazy" src="/assets/images/arrows/swiperLeft.png" alt="swiperLeft" />
                </div>
                <div class="swiper-pagination-custom flex items-center justify-center gap-3 md:gap-4"></div>
                <div
                    class="swiper-button-next-custom cursor-pointer w-10 h-10 md:w-12 md:h-12 rounded-full bg-green flex items-center justify-center text-cream transition-all hover:scale-110">
                    <img loading="lazy" src="/assets/images/arrows/swiperRight.png" alt="swiperRight" />
                </div>
            </div>
        </div>
    </div>
</section>