@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model ContentViewModel

@if (Model != null)
{
<section class="relative inside-banner-outer overflow-hidden">
    <div class="inside-banner-inner banner-animation relative ">

        <!-- Banner -->
        <div
            class="rounded-bottom-lr overflow-hidden h-170 rounded-bl-xl rounded-br-xl relative innerbanner-image-wrapper">

            <!-- Parallax Image -->
            <picture>
                <!-- Desktop -->
                <source media="(min-width:1024px)" srcset="@Model.MastheadImage">

                <!-- Tablet -->
                <source media="(min-width:768px)" srcset="@Model.MobileMastheadImage">

                <!-- Mobile -->
                <img src="@Model.MobileMastheadImage" alt="@Model.Masthead_image_Alt_text"
                    class="innerbanner-image absolute left-0 top-0 w-full h-full object-cover" loading="eager"
                    fetchpriority="high">
            </picture>

            <!-- Keep Existing Overlay -->
            <div class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/40 to-black/70 z-10"></div>


        </div>

        <!-- Content -->

        <div class="innerbanner-caption absolute inset-0 z-30 flex items-end">
            <div class="container pb-12 md:pb-15">
                <div class="max-w-4xl text-left">

                    <nav class="mb-4" aria-label="Breadcrumb">
                        @Html.Raw(Model.BreadcrumPath)
                    </nav>

                    <h1 class="innerbanner-title text-h1 text-white">
                        @Html.Raw(!string.IsNullOrWhiteSpace(Model.Cont_hmpg_intro)
                                                ? Model.Cont_hmpg_intro.CleanParagraphTags()
                                                : Model.ContTitle)
                    </h1>

                </div>
            </div>
        </div>


    </div>
</section>
}